{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.5"}}
 :aliases
 {:test {:extra-paths ["test" "examples"]
         :extra-deps {com.github.seancorfield/next.jdbc {:mvn/version "1.3.1070"}
                      org.xerial/sqlite-jdbc {:mvn/version "3.50.3.0"}
                      org.postgresql/postgresql {:mvn/version "42.7.7"}}
         :main-opts ["-m" "passwordless-auth.test-runner"]}}}
